* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: regularFont;
    src: url('./FONT-STYLES/Inter-Regular.ttf');
}
body{

    background:#FCFBFC;
    ;
}

.sidebar-container {
  position: fixed;
  left: 0;
  top: 0;
  width:20%;
  background: #1d1042;
  height: 100vh;
  font-family: regularFont;
  font-size: .7rem;

}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1rem;
  gap: 1rem;
  background: #45269c;
  border-radius: 8px;
 


}
.sidebar-container-wrapper{
    padding: 1.4rem 1.7rem;
}
.logo-wrapper i {
  font-size: 1.1rem;
  color: #d4b2ff;
}
.logo-wrapper h2 {
  font-size: .9rem;
  color: white;
}
.contents{
   display: grid;
   place-items: left;
   padding: 2rem 0;
   gap: 1rem;
   padding-bottom: 1rem;
   border-bottom: 1px solid white;
}

.contents-wrapper ul li{
    gap: 2rem;
    padding-bottom:1rem;
    list-style: none;
}

.contents-wrapper ul li h2{
    font-size: 1.1rem;
    color: #FFFFFF;
}

.contents-wrapper ul li i{
    font-size: 1.2rem;
    color: #FFFFFF;

}


.list-contents{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: left;
}

.continued{
    display: grid;
    place-items: left;
    padding: 2rem 0;
    gap: 1rem;

 

}
.continued-wrapper ul li{
    padding: .8rem 0 ;

}

.continued-wrapper ul li i{
    font-size: 1.2rem;
    color: #FFFFFF;

}
.continued-wrapper ul li h2{
    font-size: 1.1rem;
    color: #FFFFFF;

}


.new{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    display: flex;
    padding: 1rem;
    font-size: .8rem;
    gap: 1rem;
    background:#703EFE;
    color: white;
    border: none;
    align-items: center;
    justify-content: center;
    font-family: regularFont;
  

}
.new i{
    font-size: 1.2rem;
  
}
.top-nav-container{
    position: fixed;
    left:20%;
    width: 80%;
    height: 221px;
    border-radius: 0px;
    background: #FFFFFF;
    overflow: hidden;
    
}
.top-nav-wrapper{
    display: flex;
    padding: 1.2rem;
    column-gap: 25rem;
    align-items: center;
    justify-content: left;
}
.title{
    display: grid;
    place-items: left;
    gap: .7rem;
    font-family: regularFont;
    
}

.title h1{
    font-size: 2rem;
}
.title h4{
    font-size: 14px;
    color: #B8B9BD;
}
.top-btn{
    position: absolute;
    right: 18%;
    padding: 12px;
    background: #000000;
    color: #FFFFFF;
    font-family: regularFont;

}
.below-header{
    display: flex;
    padding: 1.7rem 1.2rem;
    column-gap: 25rem;
    align-items: center;
    justify-content: left;
    max-width: 100%;
  

}
.image{
    position: relative;
    top: 0;
    left: 0;
    border-radius: 50%;
}
.img{
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}
.image1{
    position: relative;
    top: 0;
    left: 0;

}
.image2{
    position: absolute;
    top: 0;
    left: 30px;
}
.image3{
    position: absolute;
    top: 0;
    left: 60px;
}
.image-stuff{
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    font-family: regularFont;
    font-size: 14px;
    color:#B8B9BD;
}
.below-header-wrapper{
    color:#7D8088;
    display: flex;
    font-size: 8px;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    
}
.more-options-wrapper ul{
    display: flex;
    gap: .7rem;
    align-items: center;
    justify-content: center;
}
.more-options{
    position: absolute;
    right: 10%;
    display: flex;
    gap: .7rem;
    align-items: center;
    justify-content: center;
    font-family:regularFont;
    
}
.options{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.options i{
    font-size: 17px;
}
.task{
    position:absolute;
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    left: 24%;
    top:16rem;
    padding: 1.2rem;
    font-family: regularFont;
    color: #858A93;


}
.text-stuff{
    display: flex;
    width: 100%;
    gap: 7.4rem;

}
.text{
    font-size: .6rem;
}
p{
    font-size: .8rem;
}


.task-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .2rem;
}
.task-box{
    width: 96%;
    display: flex;
    flex-direction: row;
    gap: 9rem;
    background: #F4F6F8;
    height: 60px;
    align-items: center;
    justify-content: center;
    padding-left: .6rem;
    border-radius: 8px;
}
.tasko{
    gap: 12rem;
}
.number{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 32px;
    color: white;
    background: black;
    border-radius: 4px;
}


.one{
    color:#B8B9BD;

}
.usability-testing{
    background:white;
    padding: 1rem;
    border-radius: 12px;
}
.items{
    display: flex;
    flex-direction: column;
    gap: 1rem;
 
}
.task-btn button{
    width: 100%;
    height: 48px;
    border: 1.5px dashed #D5D5D5;
    border-radius: .4rem;
    cursor: pointer;
    font-size: 1.2rem;
}
.progress-again-stuff{
    display: flex;
    flex-direction: row;
    gap:2rem
}
.pic2, .pic1, .normal-pic{
    width: 100%;
}

.progress{
    gap: 10rem;
}
.prog{
    display: flex;
    gap: 6rem;
}
@media screen and (min-width:1100px){
    .task-box{
        gap: 8rem;
    }
    .tasko{
        gap: 9rem;
    }


    

}

@media screen and (min-width:1300px){

    .text-stuff{
    
        gap: 8rem;
    
    }
    .tasko{
        gap: 12rem;
    }


    

}


@media screen and (min-width:1440px){
    .task-wrapper{
        gap: 1rem;
    }

    .task{
        left: 20%;
    }
    .pic2, .pic1, .normal-pic{
        width: 100%;
    }
    .text-stuff{
    
        gap: 9rem;
    
    }


    

}

@media screen and (min-width:1545px) {
    .task-wrapper{
        gap: 5rem;
    }
    
}

@media screen and (min-width:1920px){
    .task-wrapper{
        gap: 7rem;
    }

    .task{
        left: 20%;
    }
    .pic2, .pic1, .normal-pic{
        width: 100%;
    }

}
